*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#666262;
    font-family:Arial,sans-serif;
}

.card{
    width:320px;
    background:rgb(221, 215, 215);
    padding:25px;
    text-align:center;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,.1);
}

.card img{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
}

.card h2{
    margin:15px 0 10px;
}

.card p{
    color:#666;
}

button{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:6px;
    cursor:pointer;
}